@include respond-to(tablet){ 

/* ++++++++++++++++
++++++BASICS+++++++
+++++++++++++++++*/

	.aui body {
   		font-size: 12px;
	}
	
	#wrapper {
    	padding-top: 0em;
    	padding-left: 15px;
    	padding-right: 15px;
	}
	
/* ++++++++++++++++
++++++HEADER+++++++
+++++++++++++++++*/

	.aui #heading{
		position: relative;
	}
	
	.aui #heading .site-title img {
    	width: 100%;
	}
	
	#heading{
		padding-left: 1%;
	}

	.aui #breadcrumbs {
    	margin-bottom: 0px;
	}
	
	.ist-topbar{
    	display: none;
	}

/* ++++++++++++++++
++++++IMAGE++++++++
+++++++BlOCK+++++++
+++++++++++++++++*/
	
	#center-image-block {
		width: 68%;
		float: right;
		margin-right: 1%;
	}

	#right-image-block {
		width: 15%;
		float: right;
	}


/* ++++++++++++++++
++++NAVIGATION+++++
+++++++++++++++++*/ 

	.aui #navigation{
		position: absolute;
		width: 100%;
		left: 0px;
	}
  
	.aui #navigation li{
		background-image: none;
	}
	
	.aui #navigation .nav .dropdown-menu > .lfr-nav-item{
		background-image: none;
		padding-left: 20px;
	}
	
	.aui #navigation.open {
    	top: 0px;
	}
	
	
	.aui #navigation .navbar-inner{
		background: none repeat scroll 0% 0% rgb(244, 244, 244);
		border-top: 1px solid #CCC;
	}

	.aui #navigation .navbar-inner li a{
		color: #000;
	}	

	.aui #navigation .nav li.active > a{
		background-color: #118ADE;
		background-image: none;
		color: #FFF;
	}
	
	.aui #navigation .nav li > a:hover{
		background-color: #FFF;
		color: #000;
	}
	
	
	.aui #navigation .nav .dropdown-menu a{
		color: #FFF;
		background-color: #118ADE;
	}
	
	.aui #navigation .nav .dropdown-menu a:hover{
		color: #000;
		background-color: #FFF;
	}
	
	.aui #navigation .nav .dropdown-menu {
		background: #F4F4F4 !important;
	}

		
	
/* ++++++++++++++++
+++++++MAIN++++++++
+++++CONTENT+++++++
+++++++++++++++++*/

	/*------ Content Boxes Tablet --------*/
		
	/*Change div order using flexbox
	add webkit for support reasons */

	/* set containers and order*/

	.flex-container{

		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: inline-flex;	//use flexbox

		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;	//break when insufficiant space 
	}

	.aui .row-fluid .width8of12{
		width: inherit;
	    float: none;
		-webkit-order: 1;
		-moz-order: 1;
		order: 1;	// first element, thus above
		margin: 0px;
		padding: 0px;
    	}
	
	.aui .row-fluid .width2of12right{
		width: 49%;
		float: left;
		margin: 0px;;
		padding: 2px;

		-webkit-order: 3;
		-moz-order: 3;
		order: 3;	// second element, thus below element 1
	}
	
	.aui .row-fluid .width2of12left{
		width: 49%;
		float: left;
		margin: 0px;
		padding: 2px;

		-webkit-order: 2;
		-moz-order: 2;
		order: 2;	// third element
	}


	/* set specified widths and margins */

	 .aui .row-fluid .width5of12right, .aui .row-fluid .width5of12left {
		width: 61.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	 }
	
	
	.aui .row-fluid .width3of12right, .aui .row-fluid .width3of12left{
		width: 36.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	} 
	
	.aui .row-fluid .width4of12left, .aui .row-fluid .width4of12right{
		width: 49%; 
		float: none;
		margin: 0px;
		padding: 2px;
	}
	

/* ++++++++++++++++
++++++OTHER++++++++
+++++++STYLES++++++
+++++++++++++++++*/ 

	
	/*empty columns also need space, remove padding*/
	.portlet-column-content.empty {
    	padding: 0px;
	}
	
	/*show smarthphone-content-toogle on the very right of page*/
	#smartphone-content-toggle{
		margin-right: 0px;
	}
}