#*
This file allows you to override and define new Velocity variables.
*#

#set($bIsSignedIn		= $is_signed_in) 
#set($sSignInLabel		= $sign_in_text)
#set($sSignInURL		= $sign_in_url)
#set($sSignOutLabel		= $sign_out_text)
#set($sSignOutURL		= $sign_out_url)
#set($sCtlPanelLabel		= $themeDisplay.translate("control-panel"))
#set($currentGroup		= $themeDisplay.getScopeGroupId())
#set($sCtlPanelURL		= $themeDisplay.getURLControlPanel())
#set($bIsOmniAdmin 		= false)
#set($canAddPages		= false)
#set($bShowSignInLink		= false)
#set($bShowSignOutLink		= false)
#* Kontrollbereich-Link nicht anzeigen *#
#set($bShowCtlPanelLink		= false)
#set($bShowDockbarPortlet	= false)
#set($show_site_name		= false)
#set($canSetSmartphoneContent = $permissionChecker.isCompanyAdmin() || $permissionChecker.isCommunityAdmin($getterUtil.getLong($group_id)) )
#set($systemGroupId = $getterUtil.getLong($theme.getSetting("systemGroupId")))

#* ------------------------------ footer -------------------------------- *#
#set($footerArticleId = $theme.getSetting("footerArticleId"))
#set($footerContent = $journalContentUtil.getContent($systemGroupId, "$footerArticleId", null, "$locale", $theme_display))

#* -------------------------- static-social-bookmark-------------------------- *#
#set($staticSocialBookmarId = $theme.getSetting("staticSocialBookmarId"))
#set($staticSocialBookmarkContent = $journalContentUtil.getContent($getterUtil.getLong($group_id), "$staticSocialBookmarId", null, "$locale", $theme_display))

#* -------------------------- custom logo -------------------------- *#
#set($customDKLogo = $theme.getSetting("customDKLogo"))
#set($customDKLogoContent = $journalContentUtil.getContent($getterUtil.getLong($group_id), "$customDKLogo", null, "$locale", $theme_display))

#* -------------------------- custom CSS overwrite -------------------------- *#
#set($theme4CSSOverwrite = $theme.getSetting("theme4CSSOverwriteId"))
#* if overwrite file is located in group scope then the following variable is not null *#
#set($theme4CSSOverwriteContent = $journalContentUtil.getContent($getterUtil.getLong($group_id), "$theme4CSSOverwrite", null, "$locale", $theme_display))
#* if no overwrite-file in group, then check if overwrite defined globally *#
#if(! $theme4CSSOverwriteContent)
	#set($theme4CSSOverwriteContent = $journalContentUtil.getContent($systemGroupId, "$theme4CSSOverwrite", null, "$locale", $theme_display))
#end

#* -------------------------- custom CSS overwrite -------------------------- *#
#set($theme4JSOverwrite = $theme.getSetting("theme4JSOverwriteId"))
#set($theme4JSOverwriteContent = $journalContentUtil.getContent($systemGroupId, "$theme4JSOverwrite", null, "$locale", $theme_display))


#* ------------------------------ ist-top-bar -------------------------------- *#
#set($systemGroupId = $getterUtil.getLong($theme.getSetting("systemGroupId")))
#set($istTopBarArticleId = $theme.getSetting("istTopBarArticleId"))
#set($istTopBarContent = $journalContentUtil.getContent($systemGroupId, "$istTopBarArticleId", null, "$locale", $theme_display))

#if($permissionChecker.isOmniadmin())
	#set($bIsOmniAdmin = true)
#end

#if ($layoutPermission.contains($permissionChecker, $layout, "UPDATE"))
	#set($canAddPages = true)
#end

#if($bIsSignedIn)
	#if($bIsOmniAdmin || $canAddPages)
		#set($bShowDockbarPortlet  = true)
	#else
		#set($bShowDockbarPortlet  = false)
	#end
	#set($bShowSignInLink   = false)
	#set($bShowSignOutLink  = true)
#*	#set($bShowCtlPanelLink = true) *#
#else
	#set($bShowSignInLink  = true)
	#set($bShowSignOutLink = false)
#end

#*Hide dockbar on top of the page*#
#set ($css_class = "${css_class} dockbar-split")