<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class pa-randhintergrund" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	## if some custom global style-overwriting file is defined, add CSS to header: 
	#if($theme4CSSOverwriteContent) 
		<style> $theme4CSSOverwriteContent </style>
	#end
	## if some custom global JS-file is defined, add JS to header: 
	#if($theme4JSOverwriteContent) 
		$theme4JSOverwriteContent 
	#end
	
</head>

<body class="$css_class startseite-body pa-randhintergrund">

##<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="startseite-topcontainer">

<div class="container-fluid startseite-innercontainer" id="wrapper">

	<header id="banner" role="banner">

	
		<div id="heading">
##				<div class="page-title">
##					<a href="$site_default_url">
##						<h1><span>$the_title</span></h1>
##					</a>
##				</div>	
				
		</div>
		

##		#if ($has_navigation || $is_signed_in)
##			#parse ("$full_templates_path/navigation.vm")
##		#end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>


	<footer id="footer" role="contentinfo">
		<span> $footerContent </span>
	</footer>
</div>

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>