<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class pa-randhintergrund" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	## Overwrite the favicon, defined in top_head by custom favicon:
	#if ($fileService.getFileEntry($getterUtil.getLong($group_id),  0, "$localFaviconFileName"))
	 <link rel="Shortcut Icon" href="$customDKFaviconPath" />
	#end 
	
	#* ---- Include custom CSS and JS ----*#
	## include css from global document library if exists on server
	#if ($fileService.getFileEntry($getterUtil.getLong($systemGroupId),  0, "$globalCSSFileName"))
		<link rel="stylesheet" href="$cssIncludePath">
	#end 
	## include js from global document library if exists on server 
	#if ($fileService.getFileEntry($getterUtil.getLong($systemGroupId),  0, "$globalJSFileName"))
		<script type="text/javascript" src="$jsIncludePath"></script>
	#end
	## include css from DK document library if exists on server
	#if ($fileService.getFileEntry($getterUtil.getLong($group_id),  0, "$localCSSFileName"))
		<link rel="stylesheet" href="$cssDKIncludePath">
	#end
	## include js from DK document library if exists on server 
	#if ($fileService.getFileEntry($getterUtil.getLong($group_id),  0, "$localJSFileName"))
		<script type="text/javascript" src="$jsDKIncludePath"></script>
	#end

</head>

<body class="$css_class startseite-body pa-randhintergrund">

##<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="startseite-topcontainer">

<div class="container-fluid startseite-innercontainer" id="wrapper">

	<header id="banner" role="banner">

	
		<div id="heading"></div>
		

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	#if ($canSetSmartphoneContent)
		<div id="smartphone-content-control">			
			<button id="smartphone-content-toggle" class"btn">
				Smartphone-Content-Anzeige umschalten
			</button> 
			
			<script>
			document.getElementById('smartphone-content-toggle').onclick = function() {
    			var div = document.getElementById('smartphone-exclusive-content-container');
    			var t = document.getElementById('smartphone-help-text');
   				if (div.style.display !== 'block') {
        			div.style.display = 'block';
        			t.style.display = 'block';
    			}
    			else {
        			div.style.display = 'none';
        			t.style.display = 'none';
    			}
			};
			</script>
		</div>
	#end

</div>
	
	<footer id="footer" role="contentinfo">
		<span> $footerContent </span>
	</footer>

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>